---
import { getCollection } from 'astro:content'
import Listing from '../components/listing.astro'
import Layout from '../layouts/layout.astro'
const posts = (await getCollection('posts')).sort(
  ({ data: a }, { data: b }) => b.date.localeCompare(a.date),
)
---

<style>
.listing-container {
  margin: 1.25rem 4.5rem;
  max-width: calc(1000px - 6rem);

  @media (width >= calc(1000px + 4.5rem)) {
    margin: 1.25rem auto;
  }
}
</style>

<Layout>
  <main>
    <ul class="listing-container">
      {posts.map((post) => <Listing post={post} href={post.id} />)}
    </ul>
  </main>
</Layout>
