---
import { getCollection } from 'astro:content'
import Listing, { type PostMetadata } from '../components/listing.astro'
import Layout from '../layouts/layout.astro'
const posts = await getCollection('posts')
---

<style>
.listing-container {

  margin: 1.25rem 4.5rem;
  max-width: calc(1200px - 6rem);

  @media (width >= calc(1200px + 4.5rem)) {
    margin: 1.25rem auto;
  }
}
</style>

<Layout>
  <main>
    <ul class="listing-container">
      {posts.map((post) => <Listing post={post.data} href={post.id} />)}
    </ul>
  </main>
</Layout>
