---
// import { TbBrand4Chan } from 'react-icons/tb'
// import { TbBrandAbstract } from 'react-icons/tb'
// import { TbBrandAdobeAfterEffect } from 'react-icons/tb'
// import { TbBrandAdobeIllustrator } from 'react-icons/tb'
// import { TbBrandAdobeIndesign } from 'react-icons/tb'
// import { TbBrandAdobePhotoshop } from 'react-icons/tb'
// import { TbBrandAdobeXd } from 'react-icons/tb'
// import { TbBrandAdobe } from 'react-icons/tb'
// import { TbBrandAdonisJs } from 'react-icons/tb'
// import { TbBrandAirbnb } from 'react-icons/tb'
// import { TbBrandAirtable } from 'react-icons/tb'
// import { TbCircle } from 'react-icons/tb'

// const knownTags = [
//   { tag: 'abstract', icon: TbBrand4Chan },
//   { tag: 'after-effects', icon: TbBrandAbstract },
//   { tag: 'illustrator', icon: TbBrandAdobeAfterEffect },
//   { tag: 'indesign', icon: TbBrandAdobeIllustrator },
//   { tag: 'photoshop', icon: TbBrandAdobeIndesign },
//   { tag: 'premier', icon: TbBrandAdobePhotoshop },
//   { tag: 'adobe-xd', icon: TbBrandAdobeXd },
//   { tag: 'adobe', icon: TbBrandAdobe },
//   { tag: 'adonis', icon: TbBrandAdonisJs },
//   { tag: 'airbnb', icon: TbBrandAirbnb },
//   { tag: 'airtable', icon: TbBrandAirtable },
// ]

// const getMatchingTag = (tag: string) => {
//   return knownTags.find((v) => v.tag == tag) || { tag, icon: TbCircle }
// }

import { Icon } from 'astro-icon/components'

interface Props {
  tags: string[]
}

const { tags } = Astro.props

const knownTags = [
  { tag: 'abstract', icon: 'tabler:brand-abstract' },
  { tag: 'after-effects', icon: 'tabler:brand-after-effects' },
  { tag: 'illustrator', icon: 'tabler:brand-illustrator' },
  { tag: 'indesign', icon: 'tabler:brand-adobe-indesign' },
  { tag: 'photoshop', icon: 'tabler:brand-adobe-photoshop' },
  { tag: 'premier', icon: 'tabler:brand-adobe-premier' },
  { tag: 'adobe-xd', icon: 'tabler:brand-adobe-xd' },
  { tag: 'adobe', icon: 'tabler:brand-adobe' },
  { tag: 'adonis', icon: 'tabler:brand-adonis' },
  { tag: 'airbnb', icon: 'tabler:brand-airbnb' },
  { tag: 'airtable', icon: 'tabler:brand-airtable' },
]

const getMatchingTag = (tag: string) => {
  return knownTags.find((v) => v.tag == tag) || { tag, icon: 'tabler:circle' }
}
---

<style>
.tags {
  display: flex;
  gap: 0.25rem;
  margin-left: auto;
}

.tag {
  :hover {
    color: var(--color-accent);
    cursor: pointer;
    transition: color 300ms ease;
  }
}
</style>

<ul class="tags">
  <!-- {tags.map((tag) => getMatchingTag(tag)).map(({ tag, icon: Icon }) => (
    <li class="tag"><Icon title={tag} /></li>
  ))} -->
  {tags.map((tag) => getMatchingTag(tag)).map(({ tag, icon }) => (
    <li class="tag"><Icon name={icon} /></li>
  ))}
</ul>
