---
import { Icon } from 'astro-icon/components'

const knownTags = [
  { tag: 'abstract', icon: 'tabler:brand-abstract' },
  { tag: 'after-effects', icon: 'tabler:brand-after-effects' },
  { tag: 'illustrator', icon: 'tabler:brand-illustrator' },
  { tag: 'indesign', icon: 'tabler:brand-adobe-indesign' },
  { tag: 'photoshop', icon: 'tabler:brand-adobe-photoshop' },
  { tag: 'premier', icon: 'tabler:brand-adobe-premier' },
  { tag: 'adobe-xd', icon: 'tabler:brand-adobe-xd' },
  { tag: 'adobe', icon: 'tabler:brand-adobe' },
  { tag: 'adonis', icon: 'tabler:brand-adonis' },
  { tag: 'airbnb', icon: 'tabler:brand-airbnb' },
  { tag: 'airtable', icon: 'tabler:brand-airtable' },
  { tag: 'cloudflare', icon: 'tabler:brand-cloudflare' },
  { tag: 'astrojs', icon: 'tabler:brand-astro' },
]

const getMatchingTag = (tag: string) => {
  return knownTags.find((v) => v.tag == tag) || { tag, icon: 'tabler:circle' }
}

interface Props {
  tags: string[]
  showText?: boolean
}

const { tags, showText = false } = Astro.props
---

<style>
.tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.125rem;

  &:hover {
    color: var(--color-accent);
    cursor: pointer;
    transition: color 300ms ease;
  }
}

.tag-name {
  font-size: 0.75rem;
}
</style>

<ul class="tags">
  {tags.map((tag) => getMatchingTag(tag)).map(({ tag, icon }) => (
    <li class="tag">
      <Icon name={icon} />
      {showText && <span class="tag-name">{tag}</span>}
    </li>
  ))}
</ul>
